*{
   overflow: auto;
}

body{
    background-color: blanchedalmond;
}

#wrapper{
    max-width: 1200px;
    background-color: cornsilk;
    margin: 0 auto;
    min-height: 600px;
    border-radius: 5px;
}
#header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: darkgray;
}
#nav{
    display: grid;
    grid-template-columns: 20% 80%;
}

.menu-rigth img{
    width:1000px;
    height:160px;
}

.menu-left {
    display: flex;   
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: violet;
}
.menu-left a{
    color: #fff;
    text-decoration: none;
    padding: 5px;
}
.menu-left a:hover{
    background-color: white;
    color: black;
}

@media (max-width:400px ) {
    .menu-rigth{
        display: none;
    }
    .menu-left{
        width: 277px;
        position: relative;
    }

    img{
        display: none;
    }
    #header{
        position: relative;
        width: 300px;
        border-radius: 5px;
    }
    h1{
        position: absolute;
        left: 30%;
    }
}

#main {
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.infom{
    margin-left: 5x;
}
.info p{
    margin-left: 5px;
    text-align: center;
}

h2 {
    text-align: center;
}

.lh a{
    display: block;
    margin-left: 30px;
    margin-bottom: 20px;
    text-decoration: none;
}
.lh p{
    display: inline;
    margin-left: 30px;
}

